/*
The CSS file for the email intake form web app
Created by Bret McGee - 10/19/2018
I, Bret McGee, 000207475 certify that this material
is my original work. No other person's work has
been used without due acknowledgement.
*/

* {
    width: 80%;
    align-self: auto;
    box-sizing: border-box;
}

body {
    background-image: url("images/green.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

form, input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

form {
    margin-left: 45%;
    background-color: rgb(235, 235, 235);
}

#buttonCenter{
    margin-left: 45%;
}

input[type=submit] {
    background-color: rgb(29, 146, 192);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1a56af;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    width: 50%;
    border: 1px solid #acacac;
    text-align: center;
    padding: 8px;
}

h1, h2, h3{
    margin-left: 55%;
    text-align: center;
    color: rgba(0, 55, 107, 0.596);
}

p {
    margin-left: 55%;
    text-align: center;
    color: red;
}

/* Makes every even line of the table a different shade */
tr:nth-child(even) {
    background-color: #fafafa;
}

/* Makes every odd line of the table a different shade */
tr:nth-child(odd) {
    background-color: #c1fbff;
}

#buttons {
    width: 100%;
    margin-left: 45%;
    background-color: rgb(29, 146, 192);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#buttons:hover {
    background-color: #1a56af;
}

#editForm{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 7.5%;
    width: 90%;
    background-color: rgb(219, 219, 219);
}

#editDiv{
    margin-left: 0%;
    margin-right: 0%;
    width: 155%;
}

#editbuttons{
    margin-left: 5%;
    width: 80%;
}

#extrabuttons{
    margin-left: 10%;
    width: 80%;
    background-color: rgb(29, 146, 192);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#extrabuttons:hover {
    background-color: #1a56af;
}

#editid{
    margin-left: 10%;
}

#editinput{
    width: 92.5%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#viewForm{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    width: 90%;
    background-color: rgb(219, 219, 219);
}

#viewDiv{
    margin-left: 0%;
    margin-right: 0%;
    width: 155%;
}

#viewbuttons{
    margin-left: 3.5%;
    width: 80%;
}

#viewRadio{
    float: right;
}