/*

The css stylesheet for my Shopping list builder

Created by Bret McGee - 10/03/2018
I, Bret McGee, 000207475 certify that this material
is my original work. No other person's work has
been used without due acknowledgement

besides the last attribute, there doesn't seem to be a need
need for commenting the rest as they are straight forward.

*/

* {
    width: 80%;
    align-self: auto;
    box-sizing: border-box;
}

body {
    background-color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
}

form, input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

form {
    margin-left: 25%;
    background-color: lightgray;
}

#buttonCenter{
    margin-left: 25%;
}

input[type=submit] {
    background-color: rgb(29, 146, 192);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1a56af;
}

table {
    margin-left: 25%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    width: 50%;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

h1, h2, h3{
    margin-left: 35%;
    text-align: center;
}

p {
    margin-left: 35%;
    text-align: center;
    color: red;
}

/* Makes every other line of the table a different shade */
tr:nth-child(even) {
    background-color: #dddddd;
}

textarea {
    margin-left: 25%;
}